<div class="forgot-pass">
  <h4 class="light">Did you forget your Password?</h4>
  <div class="flex f-j-a-c">
    <img src="/assets/images/forgot.png" />
  </div>

  <h4 class="lighter">Enter your registered email address or phone number to reset password.</h4>

  <form [formGroup]="forgotPassForm"
    (ngSubmit)="onResendEmail()">
    <mat-form-field>
      <input matInput
        formControlName="email"
        placeholder="Email Id/Phone Number">
    </mat-form-field>

    <button mat-button
      type="submit"
      color="primary">Submit</button>
  </form>
</div>
