<div class="home">
  <div class="overlay"></div>


  <div class="container">
    <h1>Welcome,</h1>
    <h1>Martin Peaterson</h1>

    <h4 class="lighter">Do you wish to ceate a booking on your own or request a callback from support team?</h4>
    <div class="cardWrapper">
      <div class="card">
        <h3 class="lighter"> Create Booking </h3>

        <h6 class="lighter"> Make booking as per your need.</h6>
      </div>
      <div class="card">
        <h3 class="lighter"> Request a Call Back </h3>

        <h6 class="lighter"> Our representative will contact you.</h6>
      </div>
    </div>
  </div>
</div>
